@use '../../style/variables' as *;

.articleContainer {
    text-align: center;
    padding: 40px 20px;
  }
  
  .articleTitle {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: $font2;
    color: $title;
    font-weight: 200;
  }
  
  .articleDescription {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 40px;
    max-width: 800px;
    margin: 0 auto;
    font-family: $font1;
    font-size: 1rem;
  }
  