@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$font1: "Open Sans", serif;
$font2: "Lobster", serif;

$blue: #97bdd4;
$verylightblue: #bbc8d4;
$blue-gray: #617685;
$title: #404d56;
$background: #fafafa;
$words: #f4ebe5;
$light-gray: #757575;
$footer: #333333;
$footer2: #252525;

//ombre from: 56728a - 698ba6

